/*------------------------------------------------------------------
Project:    Emma Personal Portfolio HTML Template
Version:    1.0
-------------------------------------------------------------------*/

:root {
	--primary-color: #4DA1A9;
	--primary-rgb: 77, 161, 169;
	--black-color: #000000;
	--black2:#373737;
	--white-color: #ffffff;
	--color1: #0A3D2A;
	--color2: #083221;
	--color3: #07291B;
	--color4: #051812;
	--color5: #040F0A;
	--font-family: 'Josefin Sans';
}

html,
body {
	overflow-x: hidden;
}

* {
	outline: none !important;
}

a {
	text-decoration: none;
}

body {
    color: var(--white-color);
    font-family: var(--font-family);
    overflow-x: hidden;
	background: linear-gradient(90deg, var(--color1) 1.67%, var(--color2) 39.95%, var(--color3) 58.24%, var(--color4) 80.28%, var(--color5) 101.48%);
}

.dark-bg {
	background: var(--primary-color);
}

.light-bg {
	background: rgba(var(--primary-rgb), 0.1);
}

/* Start Back To Top */

#button {
	display: inline-block;
	background-color: var(--primary-color);
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#button:hover {
	cursor: pointer;
	background-color: #333;
}

#button:active {
	background-color: #555;
}

#button.show {
	opacity: 1;
	visibility: visible;
}

/* End Back To Top */

/* Start Button */

.custom-btn {
	padding: 13px 30px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 40px;
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	color: var(--white-color);
	text-decoration: none;
	transition: ease all 0.35s;
	font-weight: 500;
	outline: none;
	box-shadow: none;
	text-transform: uppercase;
}

.custom-btn i {
	margin-left: 10px;
}

.custom-btn:hover {
	background-color: var(--black-color);
	color: var(--white-color);
	border: 2px solid var(--white-color);
}

.custom-btn.dark {
	background: var(--black-color);
	border: 1px solid var(--black-color);
	color: var(--white-color);
}

.custom-btn.dark:hover {
	background: var(--white-color);
	color: var(--black-color);
}

.custom-btn.light {
	background: rgba(var(--white-color), 0.05);
	border: 1px solid rgba(var(--white-color), 0.15);
	color: var(--white-color);
}

.custom-btn.light:hover {
	background: var(--white-color);
	color: var(--black-color);
}

.custom-btn.white {
	background: var(--white-color);
	border: 1px solid var(--white-color);
	color: var(--black-color);
}

.custom-btn.white:hover {
	background: rgba(var(--white-color), 0.1);
	border: 1px solid rgba(var(--white-color), 0.15);
	color: var(--white-color);
}

/* End Button */

/* Start Section */

.section {
	padding: 100px 0;
	position: relative;
}

.section-heading {
	margin-bottom: 45px;
	position: relative;
}

.section-heading h6 {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: 400;
	color: var(--px-text);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-heading h6 span {
	background: rgba(var(--primary-rgb), 0.2);
	border-radius: 4px;
	padding: 5px 12px;
	display: inline-block;
	color: var(--white-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-heading h2 {
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
}

.section-heading h2 span {
	color: var(--primary-color);
}

/* End Section */

.avatar {
	border: 1px solid rgba(var(--primary-rgb), 0.1);
	border-radius: 20px;
}

/* Start Header */

.fixed-top {
	padding-top: 20px;
	padding-bottom: 20px;
	transition: ease all 0.35s;
}

.fixed-header .fixed-top {
	background-color: var(--black-color);
	box-shadow: 0 0.125rem 0.25rem rgba(var(--black-color), 0.075);
}

.fixed-top .navbar-nav  {
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0 0 0 auto;
	padding: 0 50px 0 0;
}

.fixed-top .navbar-nav  > li {
	padding: 0 20px;
}

.fixed-top .navbar-nav  > li a {
	padding: 8px;
	text-transform: uppercase;
	color: var(--white-color);
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	position: relative;
}

.fixed-top .navbar-nav  > li a:after {
	content: "";
	position: absolute;
	left: auto;
	right: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	transition: ease all 0.35s;
	background-color: var(--white-color);
}

.fixed-top .navbar-nav  > li a.active:after {
	width: 100%;
	left: 0;
	right: auto;
}

.fixed-top .navbar-nav > li a.dropdown-toggle:after {
	position: relative;
	background-color: transparent;
}

.fixed-top .navbar-nav  > li a.dropdown-item {
	color: var(--black-color);
	padding: .25rem 1rem;
}

.fixed-top .navbar-nav > li a.dropdown-toggle.active:after {
    width: auto;
}

.fixed-top .navbar-nav > li .dropdown-item:active {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.dropdown li {
    padding: 7px 5px;
}

/* End Header */

/* Start Home */

.home-section {
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding-top: 150px;
}

.home-section h6 span {
	background: rgba(var(--primary-rgb), 0.2);
	border-radius: 4px;
	padding: 5px 12px;
	display: inline-block;
	color: var(--white-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.home-section h1 {
	color: var(--white-color);
	font-weight: 700;
	font-size: 65px;
	text-transform: uppercase;
}

.home-section h2 {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 65px;
	text-transform: uppercase;
}

.home-section .text {
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: var(--white-color);
}

.home-section .btn-bar {
	padding-top: 15px;
}

.social-icon a {
	width: 46px;
	height: 46px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--white-color);
	border: 2px solid var(--white-color);
	margin-right: 8px;
	position: relative;
	transition: ease top 0.35s;
	top: 0;
}

.social-icon a:hover {
	top: -2px;
}

.social-icon a.instagram {
	background: #833AB4;
}

.social-icon a.facebook {
	background: #1877F2;
}

.social-icon a.linkedin {
	background: #1275B1;
}

.social-icon a.dribbble {
	background: #F26798;
}

/* End Home */

/* Start About */

.about-me-section {
	background-color: var(--white-color);
	margin-top: 85px;
}

.about-section {
	overflow: hidden;
}

.about-section .container {
	position: relative;
	z-index: 1;
}

.about-section .about-text .section-heading {
	margin-bottom: 25px;
}

.about-section .about-text p {
	color: var(--white-color);
}

.circle {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 10px;
}
  
.circle::before {
	content: "";
	position: absolute;
	inset: 10px;
	border-radius: 50%;
	background: var(--black-color);
	opacity: 0.8;
}
  
.circle::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background: var(--white-color);
	border: 15px solid var(--white-color);
	border-radius: 50%;
}
  
.circle .number {
	position: relative;
	color: var(--white-color);
	z-index: 10;
}
  
.circle .number span {
	font-size: 0.5em;
	font-weight: 500;
}
  
.circle h4 {
	position: relative;
	color: var(--white-color);
}

/* End About */

/* Start Experience */

.experience .timeline {
    position: relative;
    list-style-type: none;
}

.experience .timeline::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    width: 2px;
    height: 100%;
    z-index: 400;
    background: var(--white-color);
}

.experience .timeline ul {
    list-style-type: none;
}

.experience .timeline ul li {
    margin-bottom: 20px;
}

.experience .timeline > li {
    margin-bottom: 30px;
    padding-right: 30px;
}

.experience .timeline > li:last-child {
    margin-bottom: 0;
}

.experience .timeline > li::before {
    content: '';
    background: var(--white-color);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    right: -7px;
    width: 16px;
    height: 16px;
    z-index: 400;
}

.experience .timeline > li h4 {
    font-weight: 700;
}

.experience .timeline > li span {
    font-size: 18px;
}

.experience .timeline > li p {
	margin-top: 10px;
    margin-bottom: 10px;
}

/* End Experience */

/* Start Services */

.services-box {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	/* justify-content: flex-end; */
	-ms-flex-align: end;
	align-items: flex-end;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

.services-box:after {
	content: "";
	background: linear-gradient(180deg, rgba(4, 12, 22, 0) 0%, #040C16 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.services-box .services-body {
	padding: 20px;
	position: relative;
	z-index: 1;
}

.services-box .services-body .icon {
	width: 50px;
	height: 50px;
	background: var(--primary-color);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: var(--white-color);
	font-size: 22px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.services-box .services-body p {
	color: var(--white-color);
	font-size: 14px;
	line-height: 140%;
	opacity: 0.65;
	margin: 0 0 15px;
}

.services-box .services-body .rating {
	display: -ms-flexbox;
	display: flex;
	color: var(--bs-warning);
	padding-top: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.services-box .services-body .rating i {
	margin-right: 5px;
}

.services-section a {
    color: var(--white-color);
}

.web-services {
	background-image: url(../images/services/website-development.webp);
}

.graphics-services {
	background-image: url(../images/services/graphics-design.webp);
}

.smm-services {
	background-image: url(../images/services/social-media-marketing.webp);
}

.seo-services {
	background-image: url(../images/services/seo.webp);
}

.ui-ux-services {
	background-image: url(../images/services/ui-ux.webp);
}

.app-services {
	background-image: url(../images/services/app-development.webp);
}

.myaccordion {
    margin: 0 auto;
    border-radius: 0;
    overflow: hidden;
}

.myaccordion .card, .myaccordion .card:last-child .card-header {
    border: none;
    background: transparent;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.myaccordion .btn {
    width: 100%;
    font-weight: normal;
    color: var(--white-color);
    padding: 0;
    letter-spacing: 0;
    font-size: 18px;
    border-radius: 0 !important;
    border: none;
    position: relative;
    background: var(--primary-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
	text-decoration: none;
}

.myaccordion .card-body {
    background: rgba(var(--primary-rgb), 0.1);
    -webkit-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
}

.myaccordion .card-header .heading {
    position: relative;
    font-weight: 300;
    z-index: 0;
}

.myaccordion .btn:not(.collapsed) i {
	rotate: 180deg;
}

.myaccordion .btn i {
	rotate: 0deg;
}

/* End Services */

/* Start Projects */

.project-section {
	overflow: hidden;
}

.projects-section {
	overflow: hidden;
	padding-top: 150px;
}

.project-box {
	padding: 14px;
	border-radius: 10px;
	background: var(--white-color);
	position: relative;
}

.project-box .project-media {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

.project-box .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: var(--black-color);
	border-radius: 10px;
}

.project-box .project-body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 20px;
}

.project-box .project-body h4 {
	font-weight: 700;
	color: var(--black-color);
	margin: 0 0 5px;
}

.project-box .project-body h5 {
	font-weight: 700;
	color: var(--primary-color);
	margin: 0 0 5px;
}

.project-box .project-body .text {
	-ms-flex: 0 0 calc(100% - 50px);
	flex: 0 0 calc(100% - 50px);
	padding-right: 10px;
}

.project-box .project-body .text span {
	font-size: 16px;
	color: var(--black-color);
}

.project-box .project-body .link {
	width: 50px;
	transition: .5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.project-box .project-body .link .url-link {
	width: 45px;
	height: 45px;
	display: block;
	background: var(--primary-color);
	color: var(--white-color);
	font-size: 20px;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	padding: 7px 10px;
	transform: rotate(-45deg);
}

.project-box .project-body .link .url-link:hover {
	background: var(--white-color);
	border: 2px solid var(--white-color);
	color: var(--black-color);
}

.project-box:hover .overlay {
	opacity: 0.75;
}

.btn:active,
.btn.is-checked {
  	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.client-details {
	background-color: var(--white-color);
	color: var(--black-color);
	text-align: center;
}

/* End Projects */

/* Start Testimonials */

.testimonial-box {
	max-width: 780px;
	margin: 0 auto;
	text-align: center;
}

.testimonial-box .t-user {
	width: 130px;
	height: 130px;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto 30px;
	border-radius: 50%;
	border: 8px solid rgba(255, 255, 255, 0.2);
}

.testimonial-box .t-user img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 50%;
}

.testimonial-box .t-text {
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 18px;
	color: var(--white-color);
}

.testimonial-box .t-person h6 {
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 0 8px;
}

.testimonial-box .t-person span {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: var(--white-color);
	opacity: 0.5;
}

.owl-dots {
	text-align: center;
	font-size: 0px;
	padding-top: 35px;
}

.owl-dots .owl-dot {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	background: transparent;
	border: 1px solid var(--white-color) !important;
	transition: ease all 0.55s;
	border-radius: 8px;
	margin: 0 4px;
}

.owl-dots .owl-dot.active {
	background: var(--primary-color);
	width: 20px;
}

.owl-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	pointer-events: none;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 35px;
	height: 35px;
	background: var(--primary-color);
	color: var(--primary-color-text);
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	pointer-events: auto;
	transition: ease all 0.35s;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
	background: var(--primary-color-text);
	color: var(--primary-color);
}

.owl-nav .owl-next {
	right: 0px;
}

.owl-nav .owl-prev {
	left: 0px;
}

/* End Testimonials */

/* Start Client */

.brand-section img {
	filter: invert(1);
}

/* End Client */

/* Start Contact Us */

.contact-section .contact-title h5 {
	font-weight: 500;
	font-size: 40px;
}

.contact-section .contact-title p {
	font-weight: 400;
	font-size: 17px;
	color: var(--white-color);
	max-width: 550px;
	opacity: 0.85;
}

.contact-section .contact-info {
	padding: 0 0 20px;
}

.contact-section .contact-info .contact-info-in {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 20px;
}

.contact-section .contact-info .contact-info-in label {
	font-weight: 400;
	font-size: 12px;
	color: var(--white-color);
	margin: 0 0 2px;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.75;
}

.contact-section .contact-info .contact-info-in a {
	color: var(--white-color);
	font-size: 22px;
	font-weight: 600;
}

.contact-section .contact-box {
	border: 1px solid rgba(var(--primary-rgb), 0.2);
}

.contact-section .contact-form .form-label {
	color: var(--white-color);
	margin: 0 0 4px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0.85;
}

.contact-section .contact-form .form-control {
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.15);
	color: var(--white-color);
	box-shadow: none;
	padding: 0.575rem 0.75rem;
}

.contact-section .contact-form .form-control::-webkit-input-placeholder {
	color: var(--white-color);
}

.contact-section .contact-form .form-control::-moz-placeholder {
	color: var(--white-color);
	opacity: 1;
}

.contact-section .contact-form .form-control:-ms-input-placeholder {
	color: var(--white-color);
}

.contact-section .contact-form .form-control::-ms-input-placeholder {
	color: var(--white-color);
}

.contact-section .contact-form .form-control::placeholder {
	color: var(--white-color);
}

.contact-section .contact-row {
	border-top: 1px solid rgba(var(--primary-rgb), 0.2);
	background: rgba(var(--primary-rgb), 0.1);
}

.contact-section .contact-form {
	padding-top: 30px;
}

/* End Contact Us */

/* Start Customizer */

.theme-customizer {
	top: 0;
	left: 0;
	width: 350px;
	height: 100%;
	z-index: 1035;
	position: fixed;
	background-color: var(--white-color);
	border-left: 1px solid var(--white-color);
	transform: translateX(-100%);
	transition: all 0.3s ease;
}

.theme-customizer.theme-customizer-open {
	transform: translateX(0);
	transition: all 0.3s ease;
	box-shadow: 0 5px 15px rgba(40, 60, 80, .15);
}

.theme-customizer.theme-customizer-open .customizer-handle {
	left: 0;
	right: auto;
	display: none;
}

.theme-customizer .customizer-handle {
	top: 48%;
	right: -48px;
	position: absolute;
}

.theme-customizer .customizer-handle .cutomizer-open-trigger {
	padding: 15px;
	color: var(--white-color);
	border: 1px solid var(--white-color);
	border-radius: 0px 6px 6px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 15px rgba(40, 60, 80, .15);
}

.theme-customizer .customizer-handle .cutomizer-open-trigger i {
	animation-name: spin;
	animation-duration: 2500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set {
	border-radius: 5px;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items .single-option .options-label {
	overflow: hidden;
	border-radius: 5px;
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items .single-option .options-label:hover {
	transition: all 0.5s ease;
	background-color: var(--white-color);
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items .single-option input:checked + .options-label:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	font-size: 12px;
	color: var(--black-color);
	content: "\f272";
	position: absolute;
	align-items: center;
	cursor: not-allowed;
	font-weight: 400;
	justify-content: center;
	transition: all 0.5s ease;
	background-color: var(--white-color);
	font-family: bootstrap-icons !important;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items .single-option.active {
	display: block !important;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items .single-option.active:before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 5px;
	width: 94%;
	height: 100%;
	z-index: 9999;
	display: flex;
	font-size: 12px;
	color: var(--black-color);
	content: "\f272";
	position: absolute;
	align-items: center;
	cursor: not-allowed;
	font-weight: 400;
	justify-content: center;
	transition: all 0.5s ease;
	background-color: var(--white-color);
	font-family: bootstrap-icons !important;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items.app-theme .single-option {
	position: relative;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items.app-theme .single-option .palette-card {
	width: 100%;
	height: 100%;
	padding: 3px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body .theme-options-set .theme-options-items.app-theme .single-option .palette-card span {
	width: 100%;
	height: 100%;
}

.theme-customizer .customizer-sidebar-wrapper .customizer-sidebar-body {
	height: calc(100vh - 140px);
	overflow-y: auto;
}

.ht-60 {
	height: 60px;
	max-height: 60px;
	min-height: 60px;
}

.ht-80 {
	height: 80px;
	max-height: 80px;
	min-height: 80px;
}

/* End Customizer */

/* Start Footer */

.footer {
	padding: 50px 0px;
	border-top: 1px solid rgba(var(--white-color), 0.1);
	color: var(--white-color);
	font-size: 16px;
}

.footer-bottom {
	padding-top: 50px;
	margin-top: 50px;
	border-top: 1px solid var(--white-color);
	direction: ltr;
}

/* End Footer */